<div class="container">
  <div class="card-body">
    <form>

      <hr class="my-4" />
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">Your comment</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Name of cuurent user </label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Name of cuurent user </label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Name of cuurent user </label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Name of cuurent user </label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
        </div>
      </div>
    </form>
    <a href="#!" class="btn btn-info">Add Comment</a>
  </div>
</div>

