<form
  *ngIf="!isSend"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="code">code</label>
    <input
      id="code"
      type="password"
      class="form-control"
      name="code"
      [(ngModel)]="form.code"
      required
      #code="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && code.invalid"
    >
      code is required!
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block">
      validate
    </button>
  </div>
  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isSendFailed"
    >
      send code failed
    </div>
  </div>
</form>
<div class="alert alert-success" *ngIf="isSend">
  please resend the code
</div>
