<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nombre des formations</h5>
                  <span class="h2 font-weight-bold mb-0">{{formationNumb}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nombre des videos</h5>
                  <span class="h2 font-weight-bold mb-0">{{VideoNumber}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">nombre des utilisateurs </h5>
                  <span class="h2 font-weight-bold mb-0">{{listofuser.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Number des compteRendu</h5>
                  <span class="h2 font-weight-bold mb-0">{{CompteRenduNumber}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div>
          <div class="row">
            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0">List of User</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col">User Name</th>
                      <th scope="col">Information</th>
                      <th scope="col">Role</th>
                      <th scope="col">Validate As User</th>
                      <th scope="col">Validate As formateur</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of listofuser">
                      <th scope="row">
                        <div class="media align-items-center">

                          <div class="media-body">
                            <span class="mb-0 text-sm">{{user.username}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                  <span class="badge badge-dot mr-4">
                    <app-modal-user-info [user] = "user"></app-modal-user-info>
                  </span>
                      </td>
                      <td>
                        {{getRole(user)}}
                      </td>
                      <td>
                        {{user.accountVerfied}}
                      </td>
                      <td>
                        {{isModerator(user)}}
                      </td>
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="javascript:void(0)" >
                            <div *ngIf="user.accountVerfied">
                              <a (click)="UnverifiedThsiAccount(user)">Unverified this account</a>
                            </div>
                              <div *ngIf="!user.accountVerfied" >
                                <a (click)="verifiedThisAccount(user)">Verified this account </a>
                              </div>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                              <div *ngIf="isModerator(user)">
                                <a (click)="FromFormateurToSimpleUser(user)">set as simple User</a>
                              </div>
                              <div *ngIf="!isModerator(user)" >
                                <a (click)="FromSimpleUserTOFormateur(user)">set as Formateur </a>
                              </div>

                            </a>

                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
