<div class="card bg-gradient-default shadow">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div >
        <mat-card  class="container" style="background-color: #ffffff; margin-top: 10px">
          <input type="text" class="form-control form-control-alternative" placeholder="le nome de ce cour" [(ngModel)]="cours.name">
        </mat-card>
      </div>
      <mat-card  class="container" style="background-color: #ffffff; margin-top: 10px">
        <div class="form-group">
          <textarea rows="4" class="form-control form-control-alternative" placeholder="description de ce cour" [(ngModel)]="cours.description"></textarea>
        </div>

      </mat-card>
      <mat-card class="container" style="background-color: #ffffff; margin-top: 10px">
        <div class="row">
          <div class="col-md-7">
            ajouter un video pour ce cour

               le nom cette fichier est :
            <input [value]="filename" disabled>
          </div>
          <div class="col-3">
            <ngx-file-drop  (onFileDrop)="dropped($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

                <button type="button" class="btn btn-danger" (click)="openFileSelector()">click me</button>
              </ng-template>
            </ngx-file-drop>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>


