<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome to DkikaCinema Platform</h1>
          <p class="text-lead text-light"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!--page content-->
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up</small></div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="username">Username</label>
              <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                minlength="3"
                maxlength="20"
                #username="ngModel"
              />
              </div>
              <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="form.email"
                required
                email
                #email="ngModel"
              />
              </div>
              <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
              />
              </div>
              <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Sign Up</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
            waiting for admin confirmation and reconnect
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
