<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">List Of CompteRendu </h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">user name</th>
              <th scope="col">cour name</th>
              <th scope="col">Date </th>
              <th> download it </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compte of compteRenduList">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{compte.username}} </span>
                  </div>
                </div>
              </th>
              <td scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm"> {{compte.courname}}</span>
                  </div>
                </div>
              </td>

              <td scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{compte.localDateTime}}</span>
                  </div>
                </div>
              </td>
              <td>
                <button class="btn btn-danger" (click)="downloadcompteRendu(compte.fileId)">download</button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
