<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <h1 class="display-2 text-white">{{formation.name}}</h1>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
<app-formation-detail [cours]= "cours" ></app-formation-detail>
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">List Of Comment</h3>
                </div>
              </div>
            </div>
            <app-comment-list [idcour] ="idcour"></app-comment-list>
          </div>
    </div>
    <div class="col-xl-4">
<app-chapter-list [formation]="formation" (sendRequest)="ReciveEvent($event)"></app-chapter-list>
    </div>
  </div>
</div>




