<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profil-cover1.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello Admin</h1>
        <p class="text-white mt-0 mb-5">here you can add foramtion  </p>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Formation </h3>
            </div>

          </div>

        </div>
        <div class="card-body">
          <form #f='ngForm' (ngSubmit)="onSubmitformation(f)">
            <h6 class="heading-small text-muted mb-4">Formation information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Name</label>
                    <input type="text" id="input-name" class="form-control form-control-alternative" placeholder="Username"  ngModel name="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date-start">date to start</label>
                    <input type="date" id="input-date-start" class="form-control form-control-alternative"  value="Lucky" ngModel name="dateStart">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date-end">date to end </label>
                    <input type="date" id="input-date-end" class="form-control form-control-alternative"  ngModel name="dateEnd">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Formation description</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about your formation ..." ngModel name="description"></textarea>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Formateur information</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Formateur Name</label>
                <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" ngModel name="formateurname">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="input-text"> Formateur title</label>
                <input type="text" id="input-text" class="form-control form-control-alternative" placeholder="software developer" ngModel name="formateurtitle">
              </div>
            </div>

            <hr class="my-4" />
            <!-- Address -->
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <h3 class="mb-0">Lesson List</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col">name</th>
                        <th scope="col">List Of Chapter</th>
                        <th scope="col">remove</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let lesson of formation.chapter">
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control form-control-alternative" placeholder="name of lesson"  ngModel [name]=lesson.name>
                          </div>
                        </td>
                        <td>
                  <span class="badge badge-dot mr-4">
                    <button class="btn btn-danger" > add chpater {{lesson.id}}</button>
                  </span>
                        <td class="text-right">
                         <button class="btn btn-danger" (click)="removebyId(lesson.id)"> remove</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <li class="page-item disabled">
                          <button class="btn btn-success" (click)="addlesson()">Add Lesson</button>
                        </li>

                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-info">add formation</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
