<div class="container">
  <div class="card shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="mb-0">List of chapter</h2>
        </div>
      </div>
    </div>
    <div class="container card-body">
      <!-- Chart -->
        <mat-accordion *ngFor="let forma of formation.chapter">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{forma.id}} chapter id
              </mat-panel-title>
              <mat-panel-description>
                {{forma.name}} chapter name
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let co of forma.cours ">
              <mat-list-item (click)="courselected(co)" style="cursor: pointer">{{co.name}}</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>
          <br>
        </mat-accordion>

    </div>
  </div>
</div>


