<form
  *ngIf="!isSend"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="email">email</label>
    <input
      id="email"
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      required
      #email="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && email.invalid"
    >
      email is required!
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block">
      Send
    </button>
  </div>
  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isSendFailed"
    >
      send mail failed
    </div>
  </div>
</form>
<div class="alert alert-success" *ngIf="isSend">
  please check your mail!
</div>
