<div class="card bg-gradient-default shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="text-white mb-0">{{cours.name}}</h2>
          <div class="container">
            <video [src]="video" width="400px" height="400px" controls="">
            </video>
          </div>

        </div>
      <mat-card  class="container" style="background-color: #ffffff; margin-top: 10px">{{cours.description}} </mat-card>
      <mat-card class="container" style="background-color: #ffffff; margin-top: 10px">
        <div class="row">
          <div class="col-md-7">
            ajouter un compte rendu
          </div>
          <div class="col-3">
            <ngx-file-drop  (onFileDrop)="dropped($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

                <button type="button" class="btn btn-danger" (click)="openFileSelector()">click me</button>
              </ng-template>
            </ngx-file-drop>
          </div>
        </div>
      </mat-card>
      </div>
    </div>
</div>
<div class="card-body">
  <!-- Chart -->



</div>

