<div class="card bg-gradient-default shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-uppercase text-light ls-1 mb-1">video numero 1</h6>
          <h2 class="text-white mb-0">video name</h2>
          <br><br> <br>
          <div class="container">
            <vg-player style="width: 500px;height:300px">
              <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                <source src="./assets/BigDataRevision.mp4" type="video/mp4">
              </video>
            </vg-player>
          </div>
        </div>

      </div>
    </div>
</div>
<div class="card-body">
    <!-- Chart -->



</div>

