<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<div class="container-fluid mt--7">
  <div class="row" *ngFor="let video of videoDkikaList">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">{{video.name}}</h6>
              <h2 class="text-white mb-0">{{video.editor}}</h2>
              <div>
                <video [src]="video.videoDkikaUrl" controls height="400px" width="400px">
                </video>
              </div>
            </div>

            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->



      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Description</h6>
              <h2 class="mb-0">description</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            {{video.description}}
            <canvas id="chart-orders" class="chart-canvas">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
